{% extends 'base.html' %}

{% block content %}
    <h1 class="page-title">{% block title %} PROFESSORES {% endblock %}</h1>
    {% for professor in professors %}
        <div class='professor'>
            <h3>#{{ professor[0] }} - {{ professor[1] }}</h3>
            <!-- <p>{{professor[2]}}</p>
            <p>{{professor[3]}}</p>
            <p>{{professor[4]}}</p>
            <h3>{{ departments[0][0] }}</h3>
            <h3>{{ departments[0][1] }}</h3>
            <h3>{{ departments[0][2] }}</h3>
            <h3>{{ departments[0][3] }}</h3> -->
            {% for department in departments %}
                {% if department[0] ==  professor[2] %}
                    <p>{{department[2]}}</p>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}